@CHARSET "UTF-8";

h1 {
	font-size: 20px;
	color: #ffffff;
	background-image: url("../images/banner02.png");
	margin: 5px auto 0 auto;
	padding: 18px;
	border-style: solid;
	border-color: #C2C1D4;
	border-width: 1px;
	border-radius: 8px;
	font-family: Times New Roman, serif;
}

h2 {
	color: orange;
	font-size: 28px;
	margin: auto auto auto 90px;
	font-family: Times New Roman, serif;
}

h3 {
	
}

body {
	/* 	background-image: url("../images/d1.jpg"); */
	border-style: solid;
	border-color: black;
	border-width: 0px;
	height: auto;
	width: auto;
}

#login-dialog {
	width: 260px;
	margin: auto;
	margin-top: 150px;
}

.grid-login {
	background-color: #f2f2f2;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 10px;
	padding: 20px 10px 10px 10px;
	width: 110%
}

.menu {
	margin: auto auto 25px auto;
	border-radius: 8px;
}

.menuBasico {
	margin: auto auto auto auto;
	border-radius: 8px;
}

.nameheader {
	font-size: 20px;
	color: orange;
	font-family: Courier New, monospace;
	margin: auto 25% auto auto;
}


.cabecalho{
	font-size: 18px;
	color: orange;
	font-family: Courier New, monospace;
	margin: 0 auto auto 15px;
	


}

.cabecalhoInfo{
	font-size: 20px;
	color: orange;
	
	
	font-family: Courier New, monospace;
	margin: 0px 15px auto 0px;
	vertical-align: middle;	
	
	


}

.visualizar{
	
	margin-top:15px;
	
}


